<div class="cursos">
  <h3> Cursos </h3>

  <select name ="listaAlumnos" [(ngModel)]="alumno">
    <option *ngFor="let alumno of listaAlumnos">
      {{alumno.nombre}}
    </option>
  </select>

  <input type="button" (click)="buscarCursosAlumno()" value="Buscar">
  <br>
  <br>

  <table border="1">
    <thead>
    <tr>
      <th>Nombre</th>
     

    </tr>
  </thead>

  <tbody>

    <tr *ngFor="let curso of cursos">
      
      <td>{{curso.nombre}}</td>
  
    </tr>
  </tbody>
  </table>
  
  <br>
  </div>

  <input type="submit" (click)="volver()" value="Volver"/>

