    <h1>Formación</h1>
    <h3>Enseñamos a todo el que desee aprender aquello que desee</h3>


<div class="menu"> 

    <input type="submit" (click)="enrutarAlumnosCurso()" value="Buscar alumnos por curso" />
	<input type="submit" (click)="enrutarCursosAlumno()" value="Buscar cursos por alumno" />
  <input type="submit" (click)="enrutarMatricularAlumno()" value="Matricular Alumno" />
      <input type="submit" (click)="enrutarConsultarMatriculas()" value="Consultar Matrículas" />

  </div>

<router-outlet></router-outlet>